body {
  background-color: #9cd2e9;
  color: #6a6a6a;
}

*,
*:before,
*:after {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  min-width: 800px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.normal-padding {
  padding: 0;
}

.header-body {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  max-height: 100px;
  border-bottom: 2px solid #ececec;
}

.header-body__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 558px;
  height: 100%;
}
.header-body__logo a {
  text-decoration: none;
  color: #6a6a6a;
}
.header-body__logo a:hover {
  color: #1a9bdc;
}

.header-body__img {
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-body__title {
  font-size: 2rem;
}

.header-body__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 55%;
}

.header-body__ico {
  background-color: #1a9bdc;
  border-radius: 25%;
  padding: 5px;
}

.header-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 15px;
}

.header-body__text {
  font-size: 1.25rem;
  width: 215px;
  margin-left: 10px;
}

.header-body__text_bold {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-body__nav {
  height: 50px;
  background-color: #ffffff;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 8px;
          box-shadow: 0 3px 8px;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin: 0px;
}
.header-body__nav li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #6a6a6a;
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 15px;
  padding-left: 15px;
}
.header-body__nav li a::after {
  width: 100%;
  text-align: center;
  content: " ";
  display: block;
  height: 3px;
  background-color: #1a9bdc;
  -webkit-transform: translateY(19px) scale(0);
          transform: translateY(19px) scale(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-body__nav li a:hover {
  color: #1a9bdc;
  text-decoration: none;
}
.header-body__nav li a:hover::after {
  -webkit-transform: translateY(19px) scale(1);
          transform: translateY(19px) scale(1);
}

.content {
  margin: 10px 0px 0px 0px;
}

.content__left-sidebar {
  padding-right: 15px;
  padding-left: 0px;
}
.content__left-sidebar_menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  border-radius: 3px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.content__left-sidebar_menu li:first-child {
  padding-top: 10px;
}
.content__left-sidebar_menu li:last-child {
  padding-bottom: 10px;
}
.content__left-sidebar_menu li a {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 20px;
  color: #6a6a6a;
}
.content__left-sidebar_menu li:hover {
  background-color: #1a9bdc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.content__left-sidebar_menu li:hover a {
  color: #ffffff;
}

.content__left-sidebar__item {
  background-color: #ffffff;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.content__left-sidebar__item img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
}

.content__left-sidebar__item__text {
  text-align: center;
}
.content__left-sidebar__item__text h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
.content__left-sidebar__item__text p {
  font-size: 1.4rem;
  text-align: justify;
  padding: 10px;
}
.content__left-sidebar__item__text a {
  text-decoration: none;
  color: #6a6a6a;
}

.content__left-sidebar__item_read-more {
  border-top: 1px solid #6a6a6a;
}
.content__left-sidebar__item_read-more a {
  display: block;
  font-size: 1.4rem;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.content__left-sidebar__item_read-more:hover {
  cursor: pointer !important;
  background-color: #1a9bdc;
}
.content__left-sidebar__item_read-more:hover a {
  color: #ffffff;
}

.content__left-sidebar-title {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  border-radius: 3px;
  text-align: center;
  height: 30px;
}
.content__left-sidebar-title h2 {
  font-size: 1.6rem;
  padding: 5px;
}

.content__body {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 10px;
}
.content__body p {
  font-size: 1.4rem;
  font-weight: 700;
}

.section-link {
  height: 150px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-8 {
  margin-bottom: 10px;
}

.section-link__item {
  margin-right: 20px;
  width: 370px !important;
  border-radius: 5px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.section-link__item:hover {
  -webkit-box-shadow: 370px 0 0 0 #ffffff inset;
          box-shadow: 370px 0 0 0 #ffffff inset;
}

.section-link__item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 6px;
          box-shadow: 0 0 6px;
  border-radius: 5px;
}
.section-link__item__block img {
  width: 90px;
  height: 90px;
  margin: 5px;
}
.section-link__item__block p {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  widows: 270px;
  padding-left: 15px;
  text-align: start;
  color: #ffffff;
}
.section-link__item__block:hover {
  cursor: pointer;
}
.section-link__item__block:hover p {
  color: #6a6a6a;
}

.section-link__items {
  margin: 10px;
}

.slick-list {
  padding: 5px !important;
}

.slick-slide {
  margin-left: 10px !important;
  margin-right: 15px !important;
}

.footer-body {
  height: 100%;
  background-color: #2c2c2c;
  -webkit-box-shadow: 0 0 8px;
          box-shadow: 0 0 8px;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
}

.footer-body__organization {
  display: block;
  width: 100%;
  height: 150px;
  margin: 10px;
  border-right: 1px solid #6a6a6a;
}
.footer-body__organization span {
  font-size: 1.8rem;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}
.footer-body__organization p {
  font-size: 1.4rem;
}

.footer-body__nav {
  display: block;
  width: 100%;
  height: 150px;
  padding-left: 0px !important;
  border-right: 1px solid #6a6a6a;
  list-style: none;
}
.footer-body__nav li {
  margin-bottom: 10px;
}
.footer-body__nav li a {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.footer-body__nav li a:hover {
  color: #6a6a6a;
}

.footer-body__nav__info ul {
  display: block;
  width: 230px !important;
  width: 100%;
  height: 150px;
  list-style: none;
  padding-left: 0px !important;
}
.footer-body__nav__info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}
.footer-body__nav__info ul li img {
  height: 24px;
  width: 24px;
}
.footer-body__nav__info ul li div {
  margin-left: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.footer-body-copyright {
  padding: 10px 0px 10px 25px;
}
.footer-body-copyright span {
  font-size: 1.2rem;
}
